/* You can add global styles to this file, and also import other style files */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import '@angular/cdk/overlay-prebuilt.css';


.mySwiper {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.swiper-pagination-bullet {
  background: black;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
